<p>
  These exercises cover the basic software skills you will need for the CMS Data Analysis school.
  The lessons are short and targeted, intended to get you up and running in just a few days. 
  The material is taken from longer-format tutorials, for example:
  <ol>
    <li>The <a href="https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBook">CMS WorkBook</a> </li>
    <li><a href="https://lpc.fnal.gov/programs/schools-workshops/hats.shtml">Hands-on tutorials (HATS)</a>, covering all aspects of CMS data analysis such as 
      physics object reconstruction (tracks/electrons/muons/jets/etc.), trigger, generators, statistics, machine learning, ...</li>
    <li> The HEP Software Foundation's <a href=""https://hsf-training.org/training-center/">training center</a></li>
    <li>List of <a href="https://twiki.cern.ch/twiki/bin/view/CMS/CMSschoolsCommittee">all previous schools</a></li>
  </ol>
  All students should aim to complete the pre-exercises with the same laptop they'll use during the school. 
  The goal is to setup your computing environment ahead of time, so you can dive into the real material on day one of CMSDAS.
  Advanced participants (i.e., those who have spent time on LHC experiments already) may not need to complete the pre-exercises as thoroughly, 
  but please do read through everything to make sure everything works (e.g., accounts, certificates, and environments). 
</p>
